<ion-view view-title={{message}}>
  <ion-content>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="estudiants in estudiants" href="#/app/students/{{estudiants._id}}" ng-click="selectEstudiant(estudiants._id)">
        <h2>{{estudiants.name}}</h2>
        <p>Localidad: {{estudiants.address}}</p>
        <!--<a href="#/edit/{{user.id}}" class="button button-light icon ion-edit"></a>-->
        <!--<ion-reorder-button class="ion-drag" on-reorder="move(user, $fromIndex, $toIndex)"></ion-reorder-button>-->
        <!--<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(user.id)">Delete</ion-option-button>-->
      </ion-item>
    </ion-list>
    <br><br><br>
  </ion-content>
</ion-view>
